@font-face {
    font-family: 'Nanum Gothic Eco';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothicEco/NanumGothicEco.otf');
}
@font-face {
    font-family: 'Nanum Gothic Eco';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothicEco/NanumGothicEcoBold.otf');
}
@font-face {
    font-family: 'Nanum Gothic Eco';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothicEco/NanumGothicEcoExtraBold.otf');
}
